<p id="notice"><%= notice %></p>

<p>
  <strong>Alphanu:</strong>
  <%= @dadabada.alphanu %>
</p>

<p>
  <strong>Numbers:</strong>
  <%= @dadabada.numbers %>
</p>

<p>
  <strong>Floats:</strong>
  <%= @dadabada.floats %>
</p>

<p>
  <strong>Files:</strong>
  <%= @dadabada.files %>
</p>

<%= link_to 'Edit', edit_dadabada_path(@dadabada) %> |
<%= link_to 'Back', dadabadas_path %>
